<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pastev.css">

    <title>Alumni Dashboard</title>
  </head>
  <body>
    <!-- NAVBAR START -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/<%=username%>">ALUMNI MANAGEMENT SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/<%=username%>/aldash">ALUMNI INFO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/<%=username%>/post">ADD POSTS</a>
      </li>



      <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%=username%>
     </a>
     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item">Name:<%=name%></a>
            <a class="dropdown-item">Designation:<%=desig%></a>
            <a class="dropdown-item">Email:<%=em%></a>
          </div>
        </li>
   <li>
         <form class="" action="/logout" method="post">
           <a><button class="btn btn-success"name="logout">Logout</button></a>
         </form>
   </li>
    </ul>
  </div>
</nav>
<!-- NAVBAR END -->
<br><br>
<h2>Short Clips Of Previous Students</h2>
<div class="card">
  <h5 class="card-header">Title</h5>
  <div class="card-body">
    <h5 class="card-title">Beans on the floor</h5>
    <p class="card-text">
      <iframe  height="315" src="https://www.youtube.com/embed/YYFM-wggh6s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </p>

  </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>
